* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;

}
footer {
    background-color: #0047A3;
    position: relative;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    min-height: 300px;
    justify-content: center;
}

footer hr {
    width: 90%;
    border: 1px solid white;
    margin: 20px auto;
}

footer::after {
    background-image: url(images/Armoiries_de_Marseille.png);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .1;
    background-repeat: no-repeat;
    background-size: 582px;
    background-position: 56%;
    z-index: 1;
}

footer .fa-brands {
    font-size: 20px;
    margin: 0 10px;
    color: white;
}
footer h1{
    margin: 10px 0;
}
footer img {
    object-fit: cover;
}

footer ul {
    list-style: none;
}

footer a {
    color: white !important;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


.article_footer_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article_footer_liens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.bloc_liens_marseille {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bloc_reseaux_sociaux_marseille {
    display: flex;
    flex-direction: row;
}

.liste_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.liste_footer li {
    margin: 0 10px;
}

.image_logo_footer {
    height: auto;
    width: 7em;
    margin: 0 10px;

}

@media screen and (max-width: 528px) {
    footer {
        padding: 30px 0;
    }
    .liste_footer{
        flex-direction: column;
        align-items: center;
    }
    .liste_footer li{
        margin: 5px 0;
    }
    .article_footer_liens{
        flex-direction: column-reverse;
    }
    .bloc_liens_marseille{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .bloc_liens_marseille a{
        width: 35%;
        text-align: center;
    }
    .bloc_liens_marseille img{
        margin: 0;
    }
    footer hr {
        width: 50%;
    }
}