@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    align-items: center;
    background-color: #0047a3;
    padding: 10px 20px;
    position: relative;
    height: 85px;
}

.logomrs {
    max-height: 85px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    color: whitesmoke;
}

.bas {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.haut{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.menubt {
    display: flex;
    align-items: center;
    max-width: 97.99px;
    max-height: auto;
}

#menuToggle {
    display: none;
}

/* Style du label pour le bouton "Menu" */
label[for="menuToggle"] {
    cursor: pointer;
    background-color: dimgray;
    color: #f7f4f1;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 20px;
    height: 65px;
    width: 100px;
    border-radius: 10px;
    justify-content: center;
    z-index: 1;
}

/* Style de la liste (menu déroulant) */
#menuList {
    list-style: none;
    padding: 0;
    margin-right: 15px;
    position: fixed;
    top: 75px;
    left: 20px;
    display: none;
    z-index: 1;
}

/* Style des éléments de la liste */
#menuList li {
    margin: 0;
    position: relative;
    background-color: dimgray;
    padding: 10px;
    z-index: 1;
}

#menuList a {
    color: #f7f4f1;
}

/* Ajouter des carrés colorés à côté de chaque lien */
#menuList li::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: -20px;
}

/* Style des liens de menu dans le sous-menu */
.menu-link {
    text-decoration: none;
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    transition: background-color 0.2s;
    background-color: antiquewhite;
    display: inline-block;
}


/* Afficher la liste lorsque l'entrée est cliqué */
#menuToggle:checked + label + #menuList {
    display: block;
}
.reseau {
    padding: 0; 
    display: flex;
    justify-content: flex-end;
}

.reseau li {
    list-style: none;
    margin-right: 10px;
    align-items: center;
    justify-content: baseline;
    position: relative;
}

.reseau img {
    max-width: 20px;
    max-width: auto;
}


/* Ajout de styles pour rendre la barre de navigation responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;
    }

    .reseau {
        justify-content: right;
    }

    
}
