* {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: #0047a3;
    padding: 10px 20px;
    max-width: 100%;
    max-height: 130px;
    z-index: 1000;
}


.logomrs {
    max-height: 80px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav a {
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
    color: whitesmoke;
}

.bas {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.haut {
    border-top-right-radius: 10px;

}

.menubt {
    display: flex;
    align-items: center;
    max-width: 97.99px;
    max-height: auto;
}
  

header label[for="menuToggle"] {
    cursor: pointer;
    background-color: dimgray;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 20px;
    height: 65px;
    width: 100px;
    border-radius: 10px;
    justify-content: center;
    z-index: 1;
}
#menuToggle{
    opacity: 0;

}
#menuToggle:checked + label{
    border-radius: 10px 10px 0 0;
}
#menuList {
    list-style: none;
    padding: 0;
    margin-right: 15px;
    position: fixed;
    top: 75px;
    left: 20px;
    display: none;
    z-index: 1;
}

#menuList li {
    margin: 0;
    position: relative;
    background-color: dimgray;
    padding: 10px;
    z-index: 1;
}

#menuList a {
    color: white;
    text-decoration: none;
}
#menuList a:hover{
    text-decoration: underline;
}

#menuList li::before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: -20px;
}

.menu-link {
    text-decoration: none;
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    transition: background-color 0.2s;
    background-color: antiquewhite;
    display: inline-block;
}

#menuToggle:checked + label + #menuList {
    display: block;
}

.reseau {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
}

.reseau li {
    list-style: none;
    margin-right: 10px;
    align-items: center;
    justify-content: baseline;
    position: relative;
}

.reseau img {
    max-width: 20px;
    max-width: auto;
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav li {
        margin-right: 0;
    }

    header {
        padding-top: 45px;
    }

    .logomrs {
        max-height: 80px;
        height: auto;
        justify-content: bottom;
        margin: 20 px auto 0 !;
        display: block;
    }

    .reseau {
        margin-left: auto;
        margin-right: 20px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end; /* Alignez les logos à droite */
        padding-bottom: 30px;
        margin-top: -60px;
    }
    header label[for="menuToggle"] {
        top: 5px;
        left: 10px;
        height: 50px;
        width: 50px;
    }

}
