* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  margin-left: 15%;
}

.gradient-overlay {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  pointer-events: none;
}

.gradient-overlay img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  margin-left: 25%;
  padding: 2%;
}

.vertical-line {
  position: relative;
  width: 6px;
  height: auto;
  background-color: rgb(0, 71, 163);
}

.content {
  background-color: #f7f4f1;
  border-radius: 15px;
  padding: 20px;
}

.content p {
  margin: 0;
}

.dessus {
  position: relative;
  overflow: hidden;
}

.dessus {
  color: #000000;
  margin: 0;
  position: relative;
  z-index: 2;
}

.taille_massalia {
  height: 18%;
  width: 18%;
}

.taille_romaine {
  height: 75%;
  width: 75%;
}

.taille_provence {
  height: 20%;
  width: 20%;
}

.taille_croisades {
  height: 23%;
  width: 23%;
}

.taille_renaissance {
  height: 19%;
  width: 19%;
}

.taille_revolution {
  height: 39%;
  width: 39%;
}

.taille_guerre {
  height: 18%;
  width: 18%;
}

.taille_eco {
  height: 20%;
  width: 20%;
}

.overlay {
  position: absolute;
  left: 27%;
  padding: 10px;
  color: white;
  transition: left 0.3s;
  z-index: -1;
}

.overlay img {
  object-fit: contain;
}

.container:hover .overlay {
  left: 0;
}

.museum-info {
  background-color: #1600bd;
  min-height: 500px;
}

.bloc_desc {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: #f7f4f1;
  width: 50%;
  height: auto;
  margin-top: 50px;
}

.containner {
  display: flex;
  flex-direction: column;

}

.block {
  margin: 30px 200px;
  flex: 1;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #f7f4f1;
}

img {
  max-width: 100%;
  height: auto;
}