* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa', sans-serif;
}

h2 {
  margin: 20px;
}

.gradient-overlay {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  pointer-events: none;
}

.gradient-overlay img {
  display: block;
  width: 100%;
  height: auto;
}

.taille {
  width: 0;
  height: 300px;
  border-radius: 15px;
  transition: width 0.5s ease; 
}

.ligne_texte_img:hover .taille {
  width: 300px; 
}

.ligne_texte_img:hover .overlay {
  display: flex;
  color: white;
  transition: margin-left 0.5s ease;
}

.overlay img {
  object-fit: cover;
  height: 300px;
}

.dessus {
  position: absolute;
  top: 50vh;
  margin: 0;
  z-index: 2;
}

.ligne_texte_img {
  display: flex;
  margin-top: 20px;
  padding: 2%;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.vertical-line {
  position: relative;
  width: 6px;
  height: 300px;
  background-color: rgb(0, 71, 163);
}

.block_texte {
  text-align: center;
  background-color: #f7f4f1;
  border-radius: 15px;
  height: 300px;
  width: 500px;
}


.museum-info {
  background-color: #1600bd;
  min-height: 500px;
}

.bloc_desc {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: #f7f4f1;
  width: 50%;
  height: auto;
  margin-top: 50px;
}

.containner {
  display: flex;
  flex-direction: column;

}

.block {
  margin: 30px 200px;
  flex: 1;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: #f7f4f1;
}

.block img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main h2 {
  text-align: center;
}

#map {
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
}