* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0; /* Couleur de fond du body (header) */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0074D9; /* Couleur de fond du header */
    padding: 10px 20px;
    position: relative;
}

.logomrs {
    max-width: 100px; /* Ajustez la taille du logo selon vos besoins */
    height: auto;
    margin: 0 auto; /* Centre le logo horizontalement */
}
.menubt {
    display: flex;
    align-items: center; /* Centre le contenu vertical du menu */
}

#menuToggle {
    display: none;
}

/* Style du label pour le bouton "Menu" */
label[for="menuToggle"] {
    cursor: pointer;
    background-color: #0074D9; /* Couleur bleue */
    color: #fff;
    padding: 10px 15px;
    border: none;
    margin: 0;
    position: absolute;
    left: 20px; /* Ajuste la position du label */
}

/* Style de la liste (menu déroulant) */
#menuList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%; /* Positionne le sous-menu sous le bouton */
    left: 0;
    display: none;
}

/* Style des éléments de la liste */
#menuList li {
    margin: 10px 0; /* Ajoute de l'espace vertical entre les éléments */
    position: relative; /* Position relative pour les liens */
    background-color: greenyellow;
    padding: 10px;
    border-radius: 7px;
}
#menuList a {
    color: black;
}
/* Ajouter des carrés colorés à côté de chaque lien */
#menuList li::before {
    content: ''; /* Contenu vide */
    width: 10px; /* Largeur du carré */
    height: 10px; /* Hauteur du carré */
    display: inline-block;
    background-color: #0074D9; /* Couleur du carré */
    margin-right: 10px; /* Espacement entre le carré et le texte */
    position: absolute;
    left: -20px; /* Positionne le carré à gauche du texte */
}

/* Style des liens de menu dans le sous-menu */
.menu-link {
    text-decoration: none;
    color: #0074D9;
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    transition: background-color 0.2s;
    background-color: antiquewhite;
    display: inline-block;
}


/* Afficher la liste lorsque l'entrée radio est cochée */
#menuToggle:checked + label + #menuList {
    display: block;
}

/* Style pour la barre de recherche */
.search-box {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    background-color: #0074D9; /* Couleur de fond de la barre de recherche */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Ajoute un effet d'ombrage */
    padding: 10px; /* Espace autour de la barre de recherche */
    border-radius: 7px;
}

.search-box input {
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    color: whitesmoke;
    background-color: #f7f4f1;
    line-height: 2.5em;
    width: 75%; /* Élargit la zone de saisie de recherche à 75% de la largeur de la barre de recherche */
}

.search-box button {
    background-color: dimgray;
    color: whitesmoke;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    justify-content: center;
}

/* Style au survol du bouton de recherche */
.search-box button:hover {
    background-color: royalblue;
}

/* Ajout de styles pour rendre la barre de navigation responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-right: 0;
    }
}



.premiere-vu {
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.imgacceuil1{
    justify-content: center;
    max-width: 100%;
    padding: 10px;
}
.introindex {
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.intro h2 {
    padding-left: 20px;
}

/* Style de la section d'introduction */
.intro {
    text-align: center;
    padding: 40px;
    background-color: #f8f8f8;
}

/* Style des images d'introduction */
.imgacceuil1 {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Style de la section de randonnée */
.rando {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ddd;
}

/* Style des images de randonnée */
.rando>img {
    max-width: 2%;
    height: auto;
    max-height: 200px; /* Ajustez la hauteur selon vos besoins */
}

/* Style des articles de randonnée */
.rando article {
    max-width: 600px;
}

/* Style des titres des randonnées */
.rando h3 {
    color: #0074D9;
}

/* Style des listes des randonnées */
.rando ul {
    list-style: none;
    padding: 0;
}

/* Style des détails des randonnées */
.rando li {
    margin-bottom: 10px;
}

/* Style des paragraphes des randonnées */
.rando p {
    line-height: 1.4;
}

/* Ajout d'une marge en bas pour la dernière section */
.rando:last-child {
    margin-bottom: 40px;
}