* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
main {
    margin: 50px 0;

}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.section_presentation a,
.section_presentation a:visited {
    color: black;
    text-decoration: none;
}

.section_presentation a:hover {
    color: #0047a3;
    text-decoration: underline;
}

.section_presentation {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    min-height: 100vh;
}

.article_presentation_main,
.article_presentation_parcs {
    flex-direction: column;
    justify-content: space-between;
    max-height: max-content;
}

.article_presentation_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    background-color: gainsboro;
    border-radius: 30px;
    padding: 20px;

}

.article_presentation_main div {
    padding: 20px;

}

.article_presentation_parcs {
    width: 25%;
    display: flex;
}

.article_presentation_main p {
    font-size: 20px;
}

.card_parc_presentation_borely_x_26_cent {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: auto;
    width: 100%;
}

.card_parc_presentation_borely_x_26_cent img {
    height: 400px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 20px;

}

.card_parcs_presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #f7f4f1;
    text-align: center;
    border-radius: 10px;
}

.card_parcs_presentation img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card_parc_presentation_borely_x_26_cent h2,
.card_parcs_presentation h2 {
    margin-bottom: 10px;
}


/* ------------- Section Parc ------------- */
.big_section_parc {
    max-width: 1100px;
    margin: 20px auto;
    background-color: #f7f4f1;
    border-radius: 20px;
    padding: 50px 0;
}

.section_parc {
    width: 100%;
    margin: 10vh auto ;
    justify-content: center;
    background-color: gainsboro;
    padding: 20px;
}
.section_parc:first-child {
    margin: 5vh auto 10vh;
}

.bloc_contenu_parc {
    display: flex;
    height: 500px;
    width: 100%;
}

.section_parc article {
    width: 50%;
    height: 90%;
    margin: auto;
}
.section_parc aside{
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section_parc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.section_parc p{
    margin: 20px 0;
}
.section_parc .second_img {
    display: none;
}

.section_parc .first_img:hover {
    display: none;
}

.section_parc .first_img:hover+.second_img {
    display: block;
}

.big_section_parc h2 {
    text-align: center;
}