html {
    scroll-behavior:smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu','Josefin Sans','Montserrat','Poppins', sans-serif;

}



a,
a:visited {
    color: black;
    text-decoration: none;
}

main {
    margin: auto;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

.main_head {
    max-width: 800px;
    margin: 30px auto;
}

.main_head h1 {
    margin: 30px 0;
    text-align: center;
}

.main_head img {
    width: 100%;
}

.main_head p {
    margin-top: 20px;
}

.sommaire {
    max-width: 600px;
    margin: auto;
    padding: 20px 20px;
    background-color: #f7f4f1;
    border-radius: 10px;
}

.sommaire ul {
    margin: 20px 0;
    list-style: none;
}

.sommaire li {
    margin: 15px 0 15px 25px;
}

.sommaire a:hover {
    text-decoration: underline;
    color: black;

}

.big_section_info {
    background-color: #0095ff;
    max-width: 700px;
    margin: 20px auto;
    padding: 30px 50px;
    border-radius: 10px;

}

.section_info {
    margin: 10px 0;

}

.section_info:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.section_info article {
    display: flex;
    flex-direction: row;
}
.section_info h2{
    padding-bottom: 7px;
    border-bottom: 3px solid rgba(247,244,241, 0.5);
    margin-bottom: 7px;
}
.section_info h3{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(247,244,241, 0.3);
    border-radius: 10px;
    margin-bottom: 5px;
}
.section_info li{
    margin-left: 18px;
}
.bloc_baignade {
    width: 50%;
    padding: 0 19px;
}

.section_plage{
    max-width: 1100px;
    margin: 150px auto ;
    text-align: center;
}
.section_plage h3{
    font-size: 20px;
}
.section_plage p{
    margin: 0 auto 10px;
    max-width: 750px;
}
.section_plage p:first-of-type{
    color: #0095ff;
}

.section_plage img{
    width: 90%;
    height: 700px;
    object-fit: cover;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.bloc_kit_secours{
    background-color: rgba(247,244,241, 0.3);
    width: 100%;
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 10px;
}
.liste_kit_secours{
    list-style:circle;
    border-radius: 10px;
}
.kit_secours{
    font-weight: 600;
}

[id*="titre"] {
    margin-bottom: 15px;
}

