* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif; /* Choisissez une seule police */
}

/* Styles pour le contenu principal (main) */
main {
    margin: 20px auto;
    max-width: 800px;
}

.main_head {
    margin: 30px 0;
    text-align: center;
}

.main_head h1 {
    font-size: 40px;
}

.main_head img {
    width: 100%;
}

.sommaire {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E0E7E3;
    border-radius: 10px;
}

.sommaire ul {
    margin: 20px 0;
}

.sommaire li {
    margin: 15px 0;
    padding-left: 25px; /* Ajuste l'espacement à gauche */
}
